@using Microsoft.Extensions.Configuration
@using System.Security.Claims
@inject IConfiguration Configuration
@inject IHttpContextAccessor Accessor;

@{
    ViewData["Title"] = "Home Page";
    var ClientId = Configuration["Strava:ClientId"];
    var baseUrl = $"{Accessor?.HttpContext?.Request.Scheme}://{Accessor?.HttpContext?.Request.Host}{Accessor?.HttpContext?.Request.PathBase}";
    var nameIdentifier = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}

<div class="jumbotron">
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <h1>Welcome, @User.Identity.Name</h1>

        <h1>@nameIdentifier</h1>

        <p>
            @foreach (var claim in Context.User.Claims)
            {
                <div><code>@claim.Type</code>: <strong>@claim.Value</strong></div>
            }
        </p>

        <p>
            <a class="btn btn-lg btn-danger" href="/signout?returnUrl=%2F">Sign out</a>
        </p>

        <p>
            <a class="btn btn-lg btn-danger" href="http://www.strava.com/oauth/authorize?client_id=@ClientId&response_type=code&redirect_uri=@baseUrl/exchange_token&approval_prompt=force&scope=profile:read_all">Get Token</a>
        </p>

        <p>
            <a class="btn btn-lg btn-danger" href="/ad/create">Add and Ad</a>
        </p>
    }
    else
    {
        <h1>Welcome, SecondHand helps you find a awesome gear by awesome people</h1>
        <a class="btn btn-lg btn-success" href="/signin?returnUrl=%2F">Log in using Strava</a>
    }
</div>
